$colors: (
    primary: (default: #072227,
    25: #839193,
    50: #6a7a7d,
    100: #516468,
    200: #394e52,
    300: #20383d,
    400: #072227,
    500: #061f23,
    600: #061b1f,
    700: #05181b,
    800: #041417,
    900: #041114,
  ),

  gray: (
    default: #667085,
    25: #FCFCFD,
    50: #F9FAFB,
    100: #F2F4F7,
    200: #E4E7EC,
    300: #D0D5DD,
    400: #98A2B3,
    500: #667085 ,
    600: #475467,
    700: #344054,
    800: #1D2939,
    900: #101828 ,
),

  secoundry:(default: #35858b,
    25: #9ac2c5,
    50: #86b6b9,
    100: #72aaae,
    200: #5d9da2,
    300: #499197,
    400: #35858b,
    500: #30787d,
    600: #2a6a6f,
    700: #255d61,
    800: #205053,
    900: #1b4346,
  ),

  error: (default: #da1212,
    25: #ed8989,
    50:#e97171,
    100: #e55959,
    200: #e14141,
    300: #de2a2a,
    400: #da1212,
    500: #c41010,
    600: #ae0e0e,
    700: #990d0d,
    800: #830b0b,
    900: #6d0909,
  ),

  warning: (default: #ffbd35,
    25: #ffde9a,
    50: #ffd786,
    100: #ffd172,
    200: #ffca5d,
    300: #ffc449,
    400: #ffbd35,
    500: #e6aa30,
    600: #cc972a,
    700: #b38425,
    800: #997120,
    900: #805f1b,
  ),

  success: (default: #146356,
    25: #8ab1ab,
    50: #72a19a,
    100: #5b9289,
    200: #438278,
    300: #2c7367,
    400: #146356,
    500: #12594d,
    600: #104f45,
    700: #0e453c,
    800: #0c3b34,
    900: #0a322b,
  ),
);

// ? ، با استفاده از این فاکشن میتوانیم با دادن اسم رنگ و حالت مورد نظرمون از اون رنگ
// ? رنگ مورد نظرمون رو بگیریم. اگه هیچ حالت یا همون 
// ? shade
// ? بهش ندیم از حالت 
// ? default
// ? استفاده میکنه.
@function setColor($colorName, $shade: default) {
  @return map-get(map-get($colors, $colorName), $shade);
}
