@use '../abstracts/variables'as *;
@use '../abstracts/colors'as *;

@each $position,
$value in $border_positions {
  .border-#{""+ $position} {
    border-#{""+$value}: 1px solid setColor(gray, 300) !important;
  }
};


.small--circle-avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}